{% extends "profile/base.html" %}
{% load static %}

{% block content %}
    <div class="background">
        <img src="{% static 'users/img/background-profile.png' %}"/>
    </div>
    <nav>
        <a href="https://tellesfoundation.uk/pt/home/"><img src="{% static 'img/telles_foundation.png' %}" alt="Logo da Fundação"></a>
        <div class="nav-links">
            <ul>
                {% if user.profile.tipo_usuario == 'Bolsista' or user.profile.tipo_usuario == 'Alumni' %}
                <li><a href="{% url 'profile' %}" class="perfil-link">PERFIL</a></li>
                <li><a href="{% url 'historico_profissional' %}">HISTÓRICO PROFISSIONAL</a></li>
                <li><a href="{% url 'historico_escolar' %}">HISTÓRICO ESCOLAR</a></li>
                <li><a href="{% url 'logout' %}">SAIR</a></li>

                {% elif user.profile.tipo_usuario == 'Sponsor' %}
                <li><a href="/search/overview">GRÁFICOS</a></li>
                <li><a href="{% url 'profile' %}" class="perfil-link">PERFIL</a></li>
                <li><a href="{% url 'logout' %}">SAIR</a></li>

                {% else %}
                <li><a href="/search/">BUSCA</a></li>
                <li><a href="/search/overview">GRÁFICOS</a></li>
                <li><a href="{% url 'profile' %}" class="perfil-link">PERFIL</a></li>
                <li><a href="{% url 'logout' %}">SAIR</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>

    
        <div class="profile">
            <div class="profile-info">
                <img src="{% static img_user %}" class="img_perfil">
                <div class="text">
                    <span class="name">{{ user.first_name }} {{ user.last_name }}</span>
                    <span class="extra">{{ user.profile.faculdade }} - {{ user.profile.tipo_usuario }}</span>
                </div>
                
                
            </div>
            
            <div class="infos">
                <div class="bloco1">
                    {% if user.profile.tipo_usuario == 'Bolsista' or user.profile.tipo_usuario == 'Alumni' %}
                    <label> E-mail: </label>
                    <p> {{ user.profile.email}} </p>
                    <label> RG: </label>
                    <p> {{ user.profile.rg }} </p>
                    <label> Telefone: </label>
                    <p> {{ user.profile.telefone }} </p>
                    <label> Gênero: </label>
                    <p> {{ user.profile.genero }} </p>
                    <label> País Atual: </label>
                    <p> {{ user.profile.pais_atual }} </p>
                    <label> Ano de Formatura: </label>
                    <p> {{ user.profile.ano_formatura }} </p>

                    {% else %}
                    <label> E-mail: </label>
                    <p> {{ user.profile.email}} </p>
                    <label> RG: </label>
                    <p> {{ user.profile.rg }} </p>
                    <label> Telefone: </label>
                    <p> {{ user.profile.telefone }} </p>

                    {% endif %}
                </div>

                <div class="bloco2">
                    {% if user.profile.tipo_usuario == 'Bolsista' or user.profile.tipo_usuario == 'Alumni' %}
                    <label> Estado Atual: </label>
                    <p> {{ user.profile.estado_atual }} </p>
                    <label> Cidade Atual: </label>
                    <p> {{ user.profile.cidade_atual }} </p>
                    <label> Linkedin: </label>
                    <p> {{ user.profile.linkedin }} </p>
                    <label> Curso: </label>
                    <p> {{ user.profile.curso }} </p>
                    <label> Renda Familiar: </label>
                    <p> {{ user.profile.renda_familiar }} </p>
                    <button class="button-editar" onclick="window.location.href='edit/'"><a href="edit/" class="link-botao">EDITAR</a></button>
                    {% elif user.profile.tipo_usuario == 'Colaborador' or user.profile.tipo_usuario == 'Admin' %}
                    <button class="button-link"><a href="/generate/" class="link-botao">Criar Link</a></button>
                    {% endif %}
                </div>
            </div>

        </div>
    

{% endblock %}