{% extends "profile/base.html" %}
{% load static %}

{% block content %}
    <div class="background">
        <img src="{% static 'users/img/background-profile.png' %}"/>
    </div>
    <nav>
        <a><img src="{% static 'users/img/logo-telles.png' %}"></a>
        <div class="nav-links">
            <ul>
                <li><a href="/">HOME</a></li>
                <li><a href="" class="perfil-link">PERFIL</a></li>
                <li><a href="">SAIR</a></li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <div class="profile">
            <div class="profile-info">
                <img src="{% static 'users/img/foto-de-perfil-padrao.png' %}">
                <span class="name">Henrique Turco Gera</span>
                <button class="button-editar" onclick="window.location.href=''"><a href="" class="link-botao">EDITAR</a></button>
                <span class="id">ID: 07</span>
            </div>
        </div>
    </div>
{% endblock %}