{% extends "account/base-login.html" %}
{% load static %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Confirm E-mail Address" %}{% endblock %}


{% block content %}
<div class="background">
    <img src="{% static 'img/fundo_login.jpg' %}">
  </div>
  
  
  <div class="logo">
    <img src="{% static 'img/logo-telles.png' %}">
  </div>

  <div class="bloco_login_reset1">

    <h1>{% trans "Confirme seu E-mail" %}</h1>

    {% if confirmation %}

    {% user_display confirmation.email_address.user as user_display %}

    <p>{% blocktrans with confirmation.email_address.email as email %}Por favor, confirme se <a href="mailto:{{ email }}">{{ email }}</a> é o <br> e-mail correspondente ao usuário <a>{{ user_display }}.{% endblocktrans %}</a></p>

    <form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
    {% csrf_token %}
        <button class="confirm_button" type="submit">{% trans 'Confirmar' %}</button>
    </form>

    {% else %}

    {% url 'account_email' as email_url %}

    <p>{% blocktrans %}Esse link de confirmação de e-mail expirou ou é inválido.<br> Por favor solicite um novo <a href="{{ email_url }}">e-mail de confirmação</a>.{% endblocktrans %}</p>

  </div>

{% endif %}

{% endblock %}
