{% extends "account/base-login.html" %}

{% load i18n %}
{% load static %}
{% block head_title %}{% trans "Mudar Senha" %}{% endblock %}

{% block content %}

    <div class="background">
        <img src="{% static 'img/fundo_redefinicao.png' %}">
    </div>
  
    <div class="logo">
        <img src="{% static 'img/telles_foundation.png' %}">
    </div>

    <div class="bloco_token_invalido">

        
        {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <h1 class="change_pass2">{% trans "Link Inválido" %}</h1>
    <p>{% blocktrans %}O link de redefinição de senha é inválido, possivelmente,<br> pois já está em uso.  Solicite um novo <a href="{{ passwd_reset_url }}" class="link_red">link de refefinição</a>.{% endblocktrans %}</p>
    </div>

<div class="bloco_mudar_senha2">
    {% else %}
    <h1 class="change_pass1">{% trans "Alteração de Senha" %}</h1>
        <form method="POST" action="{{ action_url }}">
            {% csrf_token %}
            <!-- {{ form.as_p }} -->
            <div class="input-box">
                <span class="icon"><ion-icon name="lock-closed"></ion-icon></span>
                <input type="password" name="password1" placeholder="" autocomplete="new-password" required="" id="id_password1">
                <label for="id_password1">Nova Senha</label>
            </div>


              <div class="input-box">
                  <span class="icon"><ion-icon name="lock-closed"></ion-icon></span>
                  <input type="password" name="password2" placeholder="" autocomplete="new-password" required="" id="id_password2">           
                  <label for="id_password2">Confirmar Senha</label>
              </div>

            <!-- <input type="submit" name="action" value="{% trans 'Mudar Senha' %}"/> -->
            <button class="change_password" type="submit" name="action">{% trans "Mudar Senha" %}</button>
        </form>
    {% endif %}
</div>

<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
{% endblock %}