{% extends "account/base-login.html" %}

{% load i18n %}
{% load static %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    
    <div class="background">
        <img src="{% static 'img/fundo_login.jpg' %}">
    </div>

    <div class="logo">
        <img src="{% static 'img/telles_foundation.png' %}">
    </div>

<div class="bloco_mudar_senha">
    <h1 class="change_pass_ok">{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Alteração de Senha" %}{% endif %}</h1>
    <p class="senha_alterada">{% trans 'Sua senha foi alterada com sucesso.' %}</p>

    <form action="{% url 'account_login' %}" method="post">
        {% csrf_token %}
    
        <button class="return_login" type="submit">Voltar para Login</button>
  
      </form>
</div>

{% endblock %}
