{% extends "account/base-login.html" %}
{% load static %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Redefinição de Senha" %}{% endblock %}

{% block content %}
<div class="background">
    <img src="{% static 'img/fundo_redefinicao.png' %}">
  </div>
  
  <div class="logo">
    <a href="https://tellesfoundation.uk/pt/home/"><img src="{% static 'img/telles_foundation.png' %}" alt="Logo da Fundação"></a>
  </div>
  <div class="bloco_login_reset1">

    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <!-- <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p> -->

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}

        <h1 class="title_red">{% trans "Redefinição de Senha" %}</h1>


        <div class="input-box">
          <span class="icon"><ion-icon name="mail"></ion-icon></span>
          <input type="email" name="email" placeholder="" autocomplete="email" required="" id="id_login" value="" oninput="event.target.setAttribute('value', event.target.value)"><br>
          <label for="id_login">E-mail</label>
          <button class="redbutton" type="submit">{% trans "Redefinir minha senha" %}</button>
          <input />
        </div>

    </form>

    </div>


<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
{% endblock %}
