{% extends "account/base-login.html" %}
{% load static %}
{% load i18n %}

{% block head_title %}{% trans "Redefinição de senha" %}{% endblock %}

{% block content %}
<div class="background">
    <img src="{% static 'img/fundo_login.jpg' %}">
  </div>
  
  <div class="logo">
    <img src="{% static 'img/telles_foundation.png' %}">
  </div>
    <h1>{% trans "Set Password" %}</h1>

    <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" name="action" value="{% trans 'Set Password' %}"/>
    </form>
{% endblock %}
