{% extends "account/base-login.html" %}

{% load i18n %}
{% load static %}
{% block head_title %}{% trans "Alteração de senha" %}{% endblock %}

{% block content %}

    <div class="background">
        <img src="{% static 'img/fundo_redefinicao.png' %}">
    </div>
  
    <div class="logo">
      <a href="https://tellesfoundation.uk/pt/home/"><img src="{% static 'img/telles_foundation.png' %}" alt="Logo da Fundação"></a>
    </div>

    
    
    {% if token_fail %}
    <div class="bloco_token_invalido">
        {% url 'account_reset_password' as passwd_reset_url %}
        <h1 class="change_pass2">{% trans "Link Inválido" %}</h1>
    <p>{% blocktrans %}O link de redefinição de senha é inválido, possivelmente,<br> pois já está em uso.  Solicite um novo <a href="{{ passwd_reset_url }}" class="link_red">link de refefinição</a>.{% endblocktrans %}</p>
    </div>

    {% else %}
<div class="bloco_mudar_senha2">
    <h1 class="change_pass1">{% trans "Alteração de Senha" %}</h1>
        <form method="POST" action="{{ action_url }}">
            {% csrf_token %}
            

            <div class="input-box">
                <span class="icon"><ion-icon name="lock-closed"></ion-icon></span>
                <input type="password" name="password1" placeholder="" autocomplete="new-password" required="" id="id_password1" value="" oninput="event.target.setAttribute('value', event.target.value)">
                <label for="id_password1">Nova Senha</label>
            </div>


              <div class="input-box">
                  <span class="icon"><ion-icon name="lock-closed"></ion-icon></span>
                  <input type="password" name="password2" placeholder="" autocomplete="new-password" required="" id="id_password2" value="" oninput="event.target.setAttribute('value', event.target.value)">           
                  <label for="id_password2">Confirmar Senha</label>
              </div>
              
              <p id="error-message" class="error-redefinicao" style="display: none;">As senhas precisam ser iguais</p>
              <p id="error-message-short-password" class="error-redefinicao-8c" style="display: none;">A senha precisa ter pelo menos 8 caracteres</p>
              <script>
                const password1Input = document.getElementById('id_password1');
                const password2Input = document.getElementById('id_password2');
                const errorMessage = document.getElementById('error-message');
                const errorMessagelength = document.getElementById('error-message-short-password')
                const form = document.querySelector('form');
              
                form.addEventListener('submit', (event) => {
                  if (password1Input.value !== password2Input.value) {
                    event.preventDefault(); // Impede o envio do formulário
                    errorMessage.style.display = 'block';
                  }
                  if (password1Input.value.length < 8 || password2Input.value.length < 8) {
                    event.preventDefault(); 
                    errorMessagelength.style.display = 'block'
                  }
                });
              </script>
              
           
            
            
            
            <button class="change_password" type="submit" name="action">{% trans "Mudar Senha" %}</button>
        </form>
    {% endif %}
</div>

<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
{% endblock %}