{% extends "account/base-login.html" %}
{% load static %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<div class="background">
    <img src="{% static 'img/fundo_login.jpg' %}">
  </div>
  
  <div class="logo">
    <img src="{% static 'img/logo-telles.png' %}">
  </div>
  <div class="bloco_login_reset2">
    <!-- <h1>{% trans "" %}</h1> -->
    
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    
    <p>{% blocktrans %}Nós enviamos um e-mail para redefinição. Caso não <br>tenha recebido, por favor cheque sua caixa de spam.{% endblocktrans %}</p>

    <form action="{% url 'account_login' %}" method="post">
      {% csrf_token %}
  
      <button class="return_login" type="submit">Voltar para Login</button>

    </form>

    </div>
{% endblock %}
