{% extends "account/base-login.html" %}
{% load static %}
{% load i18n %}

{% block head_title %}{% trans "Verify Your E-mail Address" %}{% endblock %}

{% block content %}
<div class="background">
    <img src="{% static 'img/fundo_login.jpg' %}">
  </div>
  
  
  <div class="logo">
    <img src="{% static 'img/logo-telles.png' %}">
  </div>

  <div class="bloco_verify">

    <h2>{% trans "Verifique seu E-mail" %}</h2>

    <p>{% blocktrans %}Nós enviamos um e-mail de verificação. Caso não <br>tenha recebido, por favor cheque sua caixa de spam.{% endblocktrans %}</p>
  </div>

{% endblock %}
