{% extends "account/base-login.html" %}
{% load static %}
{% load i18n %}

{% block head_title %}{% trans "Verifique seu endereço de e-mail" %}{% endblock %}

{% block content %}
<div class="background">
    <img src="{% static 'img/fundo_login.jpg' %}">
  </div>
  
  
  <div class="logo">
    <a href="https://tellesfoundation.uk/pt/home/"><img src="{% static 'img/telles_foundation.png' %}" alt="Logo da Fundação"></a>
  </div>

  <div class="bloco_verify">

    <h2>{% trans "Verifique seu E-mail" %}</h2>

    <p>{% blocktrans %}Nós enviamos um e-mail de verificação. Caso não <br>tenha recebido, por favor cheque sua caixa de spam.{% endblocktrans %}</p>
  </div>

{% endblock %}
