{% extends "profile/edit/base-edit.html" %}
{% load static %}

{% block content %}

<div class="background">
  <img src="{% static 'img/fundo-cadastro.jpeg' %}" alt="Imagem de fundo">
</div>

{% comment %} Gera o formulario de edicao {% endcomment %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    
    <div id="edicao" class="block">
        <div class="imagens">
            <a href="https://tellesfoundation.uk/pt/home/"><img src="{% static 'img/telles_foundation.png' %}" alt="Logo da Fundação" class="logo"></a>
        </div>
        <h1>Edição</h1>
        <div class="edicao-perfil">
            <div class="bloco1" style="max-width: 360px;">
                <div class="form-group">
                    <label for="{{ form.nome.id_for_label }}">Nome:</label>
                    <div class="input">{{ form.nome }}</div>
                    {{ form.nome.errors }}
                </div>
                
                <div class="form-group">
                    <label for="{{ form.sobrenome.id_for_label }}">Sobrenome:</label>
                    <div class="input">{{ form.sobrenome }}</div>
                    {{ form.sobrenome.errors }}
                </div>
                
                <div class="form-group">
                    <label for="{{ form.username.id_for_label }}">Nome de Exibição:</label>
                    <div class="input">{{ form.username }}</div>
                    {{ form.username.errors }}
                </div>
                
                <div class="form-group">
                    <label for="{{ form.email.id_for_label }}">Email:</label>
                    <div class="input">{{ form.email }}</div>
                    {{ form.email.errors }}
                </div>
                <div class="form-group">
                    <div class="input">
                        <label for="foto_perfil-clear_id">Foto de perfil</label><br>
                        <img src="{% static img_user %}" class="img_perfil">
                        <!-- <input type="checkbox" name="foto_perfil-clear" id="foto_perfil-clear_id"> -->
                        <input type="file" name="foto_perfil" accept="image/*" id="id_foto_perfil">
                    </div>
                </div>
                

            </div>
    <!-- Add the missing form fields below -->
            <div class="bloco2">
                <div class="form-group">
                    <label for="{{ form.rg.id_for_label }}">RG:</label>
                    <div class="input">{{ form.rg }}</div>
                    {{ form.rg.errors }}
                </div>
                
                <div class="form-group">
                    <label for="{{ form.telefone.id_for_label }}">Telefone:</label>
                    <div class="input">{{ form.telefone }}</div>
                    {{ form.telefone.errors }}
                </div>
                
                <div class="form-group">
                    <label for="{{ form.genero.id_for_label }}">Gênero:</label>
                    <div class="input">{{ form.genero }}</div>
                    {{ form.genero.errors }}
                </div>
                
                <div class="form-group">
                    <label for="{{ form.outro_genero.id_for_label }}">Outro Gênero:</label>
                    <div class="input">{{ form.outro_genero }}</div>
                    {{ form.outro_genero.errors }}
                </div>
                
                <div class="form-group">
                    <label for="{{ form.pais_atual.id_for_label }}">País Atual:</label>
                    <div class="input">{{ form.pais_atual }}</div>
                    {{ form.pais_atual.errors }}
                </div>
                <div class="form-group">
                    <label for="{{ form.ano_formatura.id_for_label }}">Ano de Formatura:</label>
                    <div class="input">{{ form.ano_formatura }}</div>
                    {{ form.ano_formatura.errors }}
                </div>
                
            </div>

            <div class="bloco3">
                <div class="form-group">
                    <label for="{{ form.estado_atual.id_for_label }}">Estado Atual:</label>
                    <div class="input">{{ form.estado_atual }}</div>
                    {{ form.estado_atual.errors }}
                </div>
                
                <div class="form-group">
                    <label for="{{ form.cidade_atual.id_for_label }}">Cidade Atual:</label>
                    <div class="input">{{ form.cidade_atual }}</div>
                    {{ form.cidade_atual.errors }}
                </div>
                
                <div class="form-group">
                    <label for="{{ form.cidade_fora_atual.id_for_label }}">Cidade Fora Atual:</label>
                    <div class="input">{{ form.cidade_fora_atual }}</div>
                    {{ form.cidade_fora_atual.errors }}
                </div>
                
                <div class="form-group">
                    <label for="{{ form.linkedin.id_for_label }}">LinkedIn:</label>
                    <div class="input">{{ form.linkedin }}</div>
                    {{ form.linkedin.errors }}
                </div>
                
                <div class="form-group">
                    <label for="{{ form.curso.id_for_label }}">Curso:</label>
                    <div class="input">{{ form.curso }}</div>
                    {{ form.curso.errors }}
                </div>

                <div class="form-group">
                    <label for="{{ form.renda_familiar.id_for_label }}">Renda Familiar:</label>
                    <div class="input">{{ form.renda_familiar }}</div>
                    {{ form.renda_familiar.errors }}
                </div>
            </div>
        </div>
    </div>

    <button type="submit" class="finalizar">Salvar</button>
</form>

{% endblock %}
