* {
    font-family: 'Urbanist', sans-serif;
}

body{
    overflow-x: hidden;
}

.background{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
}

.background img{
    position: fixed;
    display: block;
    margin-left: auto;
    margin-right: auto; 
    object-fit: cover;
    height: 100%;
    width: 100%;
}

/* nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Urbanist', sans-serif;
    font-weight: 600;
}

nav img{
    padding: 10% 20%;   
    width: 200px;
}

.nav-links{
    padding: 1% 6%;
    flex: 1;
}

.nav-links ul {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    left: 0px;
}

.nav-links ul li{
    display: inline-block;
    position: relative;
    margin: 0px 80px;
}

.nav-links ul li a{
    color: #969696;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 19px;
}

.perfil-link{
    color: black !important;
}

.nav-links ul li a:hover{
    color: rgb(0, 0, 0);
    transition: 0.4s;
}

@media (max-width: 1920px) {
    .nav-links {
        padding: 1% 4%;
        flex: 1;
    }
  
    nav img {
        padding: 10% 20%;   
        width: 200px;
    }
    
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: 'Urbanist', sans-serif;
        font-weight: 600; 
    }

    .nav-links ul {
        display: flex;
        position: absolute;
        margin: 0px auto;
    }

    .nav-links ul li{
        display: inline-block;
        position: relative;
        margin: 0px 45px;
        align-items: center;
    }
  } */

/* 
input{
    width: 165px;
    height: 25px;
    border-radius: 20px;
    border: 1px solid #3C5AF0;
    margin-top: 1%;
    margin-bottom: 1%;
    padding-left: 8px;
    font-size: 1em;
  } */

  
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Urbanist', sans-serif;
    font-weight: 600;
    padding: 0.4% 0.5%;
}

nav img{
    padding: 5% 10%;   
    width: 51.5%;
    height: 51.5%;
}

.nav-links{
    padding: 1% 6%;
    flex: 1;
}

.nav-links ul {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    left: 0px;
    gap: 120px;
}

.nav-links ul li{
    display: inline-block;
    position: relative;
    margin: 0px 80px;
}

.nav-links ul li a{
    color: #969696;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 19px;
}

.perfil-link-b{
    color: #1D1D1B !important;
}

.nav-links ul li a:hover{
    color: #1D1D1B;
    transition: 0.4s;
}

@media (max-width: 1920px) {
    .nav-links {
        padding: 1% 4%;
        flex: 1; 
    }
  
    nav img {
        padding: 5% 10%;    
        width: 51.5%;
        height: 51.5%;
    }
    
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: 'Urbanist', sans-serif;
        font-weight: 600;
    }

    .nav-links ul {
        display: flex;
        position: absolute;
        margin: 0px 120px;
    }

    .nav-links ul li{
        display: inline-block;
        position: relative;
        margin: 0px 45px;
        align-items: center;
    }
  }

  
  input:hover{
    cursor: text;
  }
  
  /* select{
    width: 10px;
    height: 35px;
    border-radius: 20px;
    border: 1px solid #3C5AF0;
    margin-top: 1%;
    margin-bottom: 1%;
    padding-left: 8px;
    font-size: 1em;
  } */

.dados_usuario{
    font-size: 18px;
}

.contact{
    font-size: 23px;
}

.dados_contato{
    font-size: 18px;
}

.logo{
    display: block;
    position: absolute;
    padding-left: 1%;
    padding-top: 1%;
  }
  
.logo img{
    display: block;
    width: 60%;
    height: 60%;
    object-fit: cover;
  }
  
.background{
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
  }

.background img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
  }

/* CSS da navbar */
.navbar {
    /* border: 5px solid red; */
    /* Pra quem não sabe, VH é View Height e VW é View WIdth. É a msm coisa q %, mas adaptavel pela tela */
    /* Aqui eu to removendo 10px só pq é o tamanho da boarda, tirando ela tem q tirar isso tbm */
    width: 100vw - 10px;
    height: 10vh;
}

/* CSS dos filtros */
.filtros {
    /* border: 5px solid magenta; */
    width: 95vw - 10px;
    margin-top: 10px;
    margin-left: 8vw;
    margin-right: 8vw;

}

.filtros-basicos {
    display: flex;
    gap: 50px;
    justify-content: center;
    border: 2px solid rgb(60, 90, 240);
    border-radius: 20px;
    padding: 20px;
    background-color: rgb(247, 249, 255);
}

.filtros-nomes {
    /* border: 2px solid gray;
    width: 35%; */
    margin-right: 2px;
}

.filtros-id{
    margin-left: -3.2px;
}

.busca {
    margin-right: 10px;
    width: 165px;
    height: 25px;
    border-radius: 20px;
    border: 1px solid #3C5AF0;
    margin-top: 1%;
    margin-bottom: 1%;
    padding-left: 8px;
    font-size: 1em;
    /* margin-left: 3px; */
}


.filtros-cor {
    /* border: 2px solid beige; */
    margin-right: 15px;
}

.filtros-genero {
    /* border: 2px solid darkorange; */
    margin-right: 15px;
}

.filtros-user-facul {
    /* border: 2px solid lightcoral; */
    margin-right: 15px;
}

.filtros-renda {
    /* border: 2px solid pink; */
    margin-right: 15px;
}

.filtros-avancados-parte1 {
    display: flex;
}

.filtros-avancados-parte2 {
    display: flex;
}

/* CSS dos usuarios */
/* .foto_perfil{
    margin-right: 15px;
} */

.usuario {
    display: flex;
    border: 5px solid rgb(29, 29, 27);;
    margin-left: 15vw;
    margin-right: 15vw;
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
    background-color: white;
}

.nome-imagem {
    display: flex;
    /* border: 2px solid yellow; */
}

.nome-id {
    width: 100%;
    /* border: 2px solid pink; */
}

.divisor {
    width: 5px;
}

.metade-esquerda {
    /* border: 5px solid blue; */
    width: 70%;
    margin-left: 40px;
}

.metade-direita {
    /* border: 5px solid green; */
    width: 50%;
}

.user-name {
    color: rgb(29, 29, 27);
    font-weight: 900;
    font-size: x-large;
}

img {
    width: 100px;
    height: 120px;
}

h4 {
    font-weight: 500;
}

.id{
    font-size: 20px;
}

.filterbutton{
    display: block;
    /* margin-top: 1%; */
    margin-left: 3.5%;
    margin-top: 5.8%;
    /* margin-right: auto; */
    background-color: rgb(255, 255, 255);
    color:#3C5AF0;
    border: 1px solid #3C5AF0;
    border-radius: 100px;
    font-size: 25px;
    font-family: 'Urbanist', sans-serif;
    /* font-weight: 500; */
    height: 50px;
    padding: 8px 30px;
    cursor: pointer;
    transition: 0.3s;
}

label{
    margin-left: 0px;
}

.usuario{
    display: flex;
    align-items: center;
    border: 10px solid #3C5AF0;
    border-radius: 3rem;
    padding: 1rem 4rem 1rem 2rem;
    gap: 3rem;
    font-family: 'Urbanist', sans-serif;
    font-weight: 500;
    font-size: 25px;
    margin-top: 25px;
}

.nenhum_usuario{
    margin-top: 30px;
    font-size: 30px;
    color: red;
    text-align: center;
}
  
.gen{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #3C5AF0;
}
  
.gen h1{
    font-size: 35px;
    font-weight: 600;
    margin-top: 235px;
    margin-bottom: 30px;
    text-align: center;
}
  
.gen p{
    color: #506dff;
    font-size: 22.5px;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 30px;
    text-align: center;
}

.button-voltar-search{
    display: block;
    margin-top: 15%;
    margin-left: 46%;
    margin-right: auto;
    background-color: rgb(60, 90, 240);
    color:white;
    border: none;
    border-radius: 100px;
    font-size: 15px;
    font-family: 'Urbanist', sans-serif;
    font-weight: 600;
    padding: 8px 30px;
    cursor: pointer;
    transition: 0.3s;
}
  
button:hover{
    background-color: rgb(45, 60, 255);
    color:white;
    transition: 0.5s;
}

.graph-image {
    width: 30vw;
    height: 50vh;
    flex-direction: column;
}

.graficos{
    margin-top: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
  }

.bloco-1-overview{
    display: block;
    flex-direction: column;
  }
  
.bloco-2-overview{
display: block;
flex-direction: column;
}