{% extends "history/base-historico.html" %}
{% load static %}

{% block content %}

<div class="background">
  <img src="{% static 'img/foto_historico.png' %}" alt="Imagem de fundo">
</div>

<nav>
  <a href="https://tellesfoundation.uk/pt/home/"><div class="logo"><img src="{% static 'img/telles_foundation.png' %}" alt="Logo da Fundação"></a></div>
  <div class="nav-links">
      <ul>
        <li><a href="/search/">BUSCA</a></li>
        <li><a href="/search/{{ user.id }}" class="perfil-link">PERFIL</a></li>
        <li><a href="/search/history/professional/{{ user.id }}">HISTÓRICO PROFISSIONAL</a></li>
        <li><a href="/search/history/academic/{{ user.id }}" class="historico-link">HISTÓRICO ACADÊMICO</a></li>
      </ul>
  </div>
</nav>
  <h1>Históricos</h1>
  {% for historico in historicos %}
    {% if historico.id_proprietario == user.id %}

    <div class="bloco-historico">
      <div class="bloco-infos">
        <div class="bloco1">
          <li><b>Semestre atual:</b> {{ historico.semestre_atual }}</li>
          <li><b>Média das Notas:</b> {{ historico.media }}</li>
        </div>
        <div class="bloco2">
          <li><b>Comentário:</b> {{ historico.campo_extra }}</li>
          <li><b>PDF:</b> <a href="{{ historico.pdf.url }}" download>Download</a></li>
        </div>
      </div>
    </div>

    {% endif %}
{% endfor %}
{% endblock %}


