{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,300;0,400;0,500;0,600;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'home-page/style/style.css' %}">

    <title>Home - Fundação Telles</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'home-page/img/favicon-telles.png' %}">

    <style>
      * {
        margin: 0px;
        padding: 0px
      }
    </style>
  </head>

  <body>
    
    {% block content %} {% endblock %}
  </body>
</html>