{% extends "history/base-historico.html" %}
{% load static %}

{% block content %}

<div class="background">
  <img src="{% static 'img/foto_historico.png' %}" alt="Imagem de fundo">
</div>

<nav>
  <a href="https://tellesfoundation.uk/pt/home/"><div class="logo"><img src="{% static 'img/telles_foundation.png' %}" alt="Logo da Fundação"></a></div>
  <div class="nav-links">
      <ul>
          <li><a href="/">HOME</a></li>
          <li><a href="{% url 'profile' %}" >PERFIL</a></li>
          <li><a href="{% url 'historico_profissional' %}" class="historico-link">HISTÓRICO PROFISSIONAL</a></li>
          <li><a href="{% url 'historico_escolar' %}">HISTÓRICO ESCOLAR</a></li>
          <li><a href="{% url 'logout' %}">SAIR</a></li>
      </ul>
  </div>
</nav>

<form method="POST" enctype="multipart/form-data">
{% csrf_token %}
<div class="historico-profissional">

  <div class="bloco1">

    <div class="form">
      <label for="">Empresa</label>
      <div class="input">{{ form_profissional.empresa }}</div>
    </div>

    <div class="form">
      <label for="">Cargo</label>
      <div class="input">{{ form_profissional.cargo }}</div>
    </div>

  </div>

  <div class="bloco2">

    <div class="form">
      <label for="">Setor da Empresa</label>
      <div class="input">{{ form_profissional.setor_empresa }}</div>
    </div>

    <div class="form">
      <label for="">Salário</label>
      <div class="input">{{ form_profissional.salario }}</div>
    </div>

  </div>

</div>
<div class="botao">
<button type="submit">Adicionar Histórico</button>
</div>

</form>

<div class="historicos">

  {% for historico in historicos %}
  <div class="bloco-historico">
    <p>Empresa: {{ historico.empresa }}</p>
    <p>Cargo: {{ historico.cargo }}</p>
    <p>Setor: {{ historico.setor_empresa }}</p>
    <p>Salario: {{ historico.salario }}</p>
  </div>
  {% endfor %}
  <!-- {% if historico.id_proprietario == user.id %} -->
  <!-- {% endif %} -->

</div>

  {% endblock %}